<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoUnidades tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoUnidades').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
				$("#inputListadoUnidadesVerURL").attr("disabled","disabled");
				$("#valorPromedio").html("N/A");
				$("#mtsPromedio").html("N/A");
				$("#valorPromMts").html("N/A");
				$("#valorUSel").html("N/A");
				$("#mtsUSel").html("N/A");
				$("#valorUSelmt").html("N/A");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
				$("#inputListadoUnidadesVerURL").removeAttr("disabled");
				setTimeout(function(){
					var id = $.map(table.rows('.selected').data(), function (item) {
				    return item.IDUNIDAD;
				  });
					var parametros = {
						"idUnidad": id[0]
					}
					$.ajax({
						url:   'controller/datosIndicadorPromedio.php',
						type:  'post',
						data:  parametros,
						success:  function (response) {
							var p = jQuery.parseJSON(response);
		          if(p.aaData.length > 0){
								$("#valorPromedio").html("$" + formatNumber(p.aaData[0]['VALOR_PROMEDIO']));
								$("#mtsPromedio").html(p.aaData[0]['MTS_PROMEDIO'].replace(".",","));
								$("#valorPromMts").html("$" + formatNumber(p.aaData[0]['VALOR_PROM_MT2']));
								var valText = '';
								var mtsText = '';
								var valMtsText = ''
								if(p.aaData[0]['IN_VALOR'] === 'BAJO'){
									valText = 'Bajo el promedio';
								}
								else{
									valText = 'Sobre el promedio';
								}
								if(p.aaData[0]['IN_MTS'] === 'BAJO'){
									mtsText = 'Bajo el promedio';
								}
								else{
									mtsText = 'Sobre el promedio';
								}
								if(p.aaData[0]['IN_PROM_MTS_VALOR'] === 'BAJO'){
									valMtsText = 'Bajo el promedio';
								}
								else{
									valMtsText = 'Sobre el promedio';
								}
								$("#valorUSel").html("$" + formatNumber(p.aaData[0]['MONTO']) + " " + valText);
								$("#mtsUSel").html(p.aaData[0]['MTS'].replace(".",",") + " " + mtsText);
								$("#valorUSelmt").html("$" + formatNumber(p.aaData[0]['PROM_MTS2_SEL']) + " " + valMtsText);
							}
						}
					});
				},300);
		}
	});

	function formatNumber(num) {
	    if (!num || num == 'NaN') return '-';
	    if (num == 'Infinity') return '&#x221e;';
	    num = num.toString().replace(/\$|\,/g, '');
	    if (isNaN(num))
	        num = "0";
	    sign = (num == (num = Math.abs(num)));
	    num = Math.floor(num * 100 + 0.50000000001);
	    num = Math.floor(num / 100).toString();
	    for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)
	        num = num.substring(0, num.length - (4 * i + 3)) + '.' + num.substring(num.length - (4 * i + 3));
	    return (((sign) ? '' : '-') + num);
	}
</script>

<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fas fa-home">&nbsp;&nbsp;Unidades capturadas</span>
		</font>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Fecha</label>
		<select id="inputListadoUnidadesAnoMes" class="form-control" title="Mano de obra">
		</select>
  </div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; padding-left: 0px; padding-right: 0px;">
		<label>&nbsp;</label>
	</div>
	<div class="col-xl-8 col-lg-8 col-md-4 col-sm-12 col-xs-12" style="text-align: left; padding-left: 10px; padding-top: 5px; border: 1px solid red;">
		<label>Indicador (inmuebles con mismos dormitorios y baños en la misma comuna en el último mes, aplica a departamentos y casas)</label>
		<br>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<font style="font-weight: bold;">Promedio valor: </font><font id="valorPromedio">N/A</font>
				<br>
				<font style="font-weight: bold;">Promedio mts²: </font><font id="mtsPromedio">N/A</font>
				<br>
				<font style="font-weight: bold;">Valor promedio por mt²: </font><font id="valorPromMts">N/A</font>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right: 0;">
				<font style="font-weight: bold;">Valor selección: </font><font id="valorUSel">N/A</font>
				<br>
				<font style="font-weight: bold;">Mts² selección: </font><font id="mtsUSel">N/A</font>
				<br>
				<font style="font-weight: bold;">Valor por mt² selección: </font><font id="valorUSelmt">N/A</font>
			</div>
		</div>
	</div>
	<div id="divTablaListadoUnidades" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaListadoUnidades" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
          <th class="celdaColor" style="border: 1pt solid white;">ID</th>
          <th class="celdaColor" style="border: 1pt solid white;">Obs.</th>
          <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
          <th class="celdaColor" style="border: 1pt solid white;">Hora</th>
          <th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
          <th class="celdaColor" style="border: 1pt solid white;">Operación</th>
          <th class="celdaColor" style="border: 1pt solid white;">Comuna</th>
          <th class="celdaColor" style="border: 1pt solid white;">Dirección</th>
          <th class="celdaColor" style="border: 1pt solid white;">Depto/Oficina</th>
          <th class="celdaColor" style="border: 1pt solid white;">Valor UF</th>
          <th class="celdaColor" style="border: 1pt solid white;">Valor $</th>
          <th class="celdaColor" style="border: 1pt solid white;">Modena despliegue</th>
          <th class="celdaColor" style="border: 1pt solid white;">Mts (Útil / Balc / Const / Terr)</th>
          <th class="celdaColor" style="border: 1pt solid white;">Dormitorios</th>
          <th class="celdaColor" style="border: 1pt solid white;">Baños</th>
          <th class="celdaColor" style="border: 1pt solid white;">Vendedor</th>
          <th class="celdaColor" style="border: 1pt solid white;">Nombre corredora</th>
          <th class="celdaColor" style="border: 1pt solid white;">Fono</th>
          <th class="celdaColor" style="border: 1pt solid white;">E-Mail</th>
          <th class="celdaColor" style="border: 1pt solid white;">Web</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaListadoUnidades" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="inputListadoUnidadesVerURL">
			<span class="fas fa-link"></span>&nbsp;&nbsp;Abrir URL
		</button>
	</div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
