<div style="text-align: center;">
	<font style="font-size: 8pt;">© E-Gestiontech 2020</font>
	<input style="display: none;" type="text" id="sesionActiva" value="0">
	<input style="display: none;" type="text" id="sesionActivaUso" value="0">
	<input style="display: none;" type="text" id="cantMenu" value="0">
</div>
