<script type="text/javascript">
  // $("div.sub-menu li").css("display","block");
  // $(".contenedor-logos").show();
  $("#menu-lateral").unbind('click').hover(function(){

  },
  function(){
    $("div.sub-menu").parent().css("height", "45px");
    $("div.sub-menu").parent().css("background","rgba(30, 0, 0, 0.0)");
    $("div.sub-menu").fadeOut();
    $("div.sub-menu").parent().find("p").css("color", "white");
  });

  $(".title-menu-sub").unbind('click').hover(function(){
    $(this).css("color", "#ffcd00");
  },
  function(){
    $(this).css("color", "white");
  });

  $(".contenedor-logos").unbind('click').hover(function(){
    $(this).css({'cursor': 'pointer'});
  });

  $(".contenedor-logos").unbind('click').click(function(){
    var a = $(this).find("p").css("color");

    //Cierra todo
    $("div.sub-menu").parent().css("height", "45px");
    $("div.sub-menu").parent().css("background","rgba(30, 0, 0, 0.0)");
    $("div.sub-menu").fadeOut();
    $("div.sub-menu").parent().find("p").css("color", "white");

    if(a !== "rgb(255, 255, 0)"){
      //Abre el clickado
      $(this).find("p").css("color", "yellow");
      $(this).find("div.sub-menu").fadeIn();
      var a = $(this).find('li[style*="block"]').length;
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        if($(this).attr("id") == 'liCuenta'){
          a = (a+1)*28 + 30;
        }
        else{
          a = a*28 + 30;
        }
      }
      else{
        if($(this).attr("id") == 'liCuenta'){
          a = (a+1)*25 + 30;
        }
        else{
          a = a*25 + 30;
        }
      }
      $(this).css("height", a + "pt");
      $(this).css("background-color","#290000");
    }
  });
  $("#logoMenu").unbind("click").click(function(){
    $("#logoLinkWeb").hide();
    $("#logoMenu").hide();
    if($("#menu-lateral").width() > 100){
      //Cierra todo
      $("div.sub-menu").parent().css("height", "45px");
      $("div.sub-menu").parent().css("background","rgba(30, 0, 0, 0.0)");
      $("div.sub-menu").fadeOut();
      $("div.sub-menu").parent().find("p").css("color", "white");

      $("#menu-lateral").css("width","45px");
      $("#menu-lateral").css("background","rgba(30, 0, 0, 0.0)");
      $("#logoMenu").css("color","black");
      $("#iconoLogoMenu").css("border","1px solid #b5b5b5");
      $("#iconoLogoMenu").css("background","rgba(255, 255, 255, 1.0)");
      $("#lineaMenu").fadeOut();
      $(".contenedor-logos").css("display","none");
      $(".contenedor-logos").find('li').css("display","none");
      $("#logoMenu").fadeIn();
      $("#iconoLogoMenu").attr("class","imgMenu fas fas fa-bars");
    }
    else{
      $("#menu-lateral").css("width","200px");
      $("#menu-lateral").css("background","rgba(15, 0, 0, 1.0)");
      $("#logoMenu").css("color","white");
      $("#iconoLogoMenu").css("border","0px");
      $("#iconoLogoMenu").css("background","rgba(255, 255, 255, 0.0)");
      $("#logoLinkWeb").hide();
      $("#logoMenu").hide();
      if($("#sesionActiva").val() == 1){
        $("#lineaMenu").fadeIn();
        $.ajax({
          url:   'controller/datosAreasComunesPadres.php',
          type:  'post',
          success: function (response2) {
            var p2 = jQuery.parseJSON(response2);
            if(p2.aaData.length !== 0){
              for(var i = 0; i < p2.aaData.length; i++){
                $('div[id $=' + p2.aaData[i].PADRE + ']').fadeIn();
                $('li[id $=' + p2.aaData[i].NOMBRE + ']').fadeIn();
                $('div[id $=' + p2.aaData[i].PADRE + ']').css("display","block");
                $('li[id $=' + p2.aaData[i].NOMBRE + ']').css("display","block");
              }
              $("#logoLinkWeb").fadeIn();
              $("#logoMenu").fadeIn();
              $("#iconoLogoMenu").attr("class","imgMenu fas fa-times");
            }
          }
        });
      }
    }
  });
</script>
<div id="logo-menu">
  <a id="logoLinkWeb" class="title-menu" href="http://e-gestiontech.cl">
    <img src="view/img/logo-e-w.png" style="width: 130px;">
  </a>
  <span id="logoMenu" class="logo2">
    <span id="iconoLogoMenu" class="imgMenu fas fas fa-bars"></span>
  </span>
</div>
<div>
  <hr id="lineaMenu" style="display: none; background-color: #575757; width: 95%; height: 1px;">
</div>

<div id="liUnidades" style="display:none;" class="contenedor-logos">
  <div class="logo">
    <span class="imgMenu fas fa-users"></span>
  </div>
  <p class="title-menu">Unidades</p>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonUnidadesCapturadas" style="display:none;"><div class="div-sub-menu">
        <i class="imgMenu-sub fas fa-user-friends"></i>
        <a href="#/unidadesCapturadas" class="title-menu-sub">Capturadas</a>
      </div></li>
    </ul>
  </div>
</div>

<div id="liCuenta" style="display:none;" class="contenedor-logos">
  <div class="logo">
    <span class="imgMenu fas fa-cog"></span>
  </div>
  <p class="title-menu">Cuenta</p>
  <div class="sub-menu" style="display:none; color: white; font-size: 12px; margin-left: 15px; margin-bottom: 8px;">
    <div id="nombrePerfil" class="div-sub-menu">

    </div>
  </div>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonChangePass" style="display:none;" ><div class="div-sub-menu">
        <i class="imgMenu-sub far fa-edit"></i>
        <a href="" class="title-menu-sub">Cambiar contraseña</a>
      </div></li>
    </ul>
  </div>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonLogout" style="display:none;" ><div class="div-sub-menu">
        <i class="imgMenu-sub fas fa-sign-out-alt"></i>
        <a href="" class="title-menu-sub">Salir</a>
      </div></li>
    </ul>
  </div>
</div>
